@model IEnumerable<NOGAsteWebAPP.Models.EventsDBModel>

<h3> Malicious Program Use </h3>
<table class="table">

@foreach(var malEvent in Model)
{
        <tr>
            <th>KeyID</th>
            <th>EventID</th>
            <th>TimeCreated</th>
            <th>UserID</th>
            <th>MachineName</th>
            <th>CommandRun</th>
            <th>ProcessInfo</th>
            <th>ObjName</th>
            <th>AppPath</th>
            <th>ThreatEval</th>
            <th>ActionReqd</th>
        </tr>
        <tr>
            <td>@malEvent.KeyID</td>
            <td>@malEvent.EventID</td>
            <td>@malEvent.TimeCreated</td>
            <td>@malEvent.UserID</td>
            <td>@malEvent.MachineName</td>
            <td>@malEvent.CommandRun</td>
            <td>@malEvent.ProcessInfo</td>
            <td>@malEvent.ObjName</td>
            <td>@malEvent.AppPath</td>
            <td>@malEvent.ThreatEval</td>
            <td>@malEvent.ActionReqd</td>

        </tr>

}
</table>







